<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759446455525-c80rkphsa3cdtrf5jvmut20fmvp62898.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759446455525-c80rkphsa3cdtrf5jvmut20fmvp62898</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>759446455525-5fom5141fnshsk4vpjv8flh7hud4480r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAB_KkxchZQ6NXTOF1xwL2XmHyeynmy9YI</string>
	<key>GCM_SENDER_ID</key>
	<string>759446455525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ditontonDimas</string>
	<key>PROJECT_ID</key>
	<string>dimspawn-myapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>dimspawn-myapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759446455525:ios:4d927e6eb11d25badb000c</string>
	<key>DATABASE_URL</key>
	<string>https://dimspawn-myapplication.firebaseio.com</string>
</dict>
</plist>